# dependencies
node_modules
npm-debug.log
yarn-error.log

# build output
build
dist

# local env files

.env.local
.env.development
.env.production

# system files
.DS_Store
Thumbs.db
# dependencies
node_modules
npm-debug.log
yarn-error.log

# build output
build
dist


